:root {
    --shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.199);
    --lighter: #F5F1EB;
    --light: #dad5cf;
    --mid: #9FCDFC;
    --main: #008CFF;
    --accent: #4C72D2;
    --dark: #2C4A98;
    --darker: #203368;
    --nav-width: 225px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid #ccc;
  }
  tbody tr:nth-child(odd) {
    background: var(--mid);
  }