html,body {
    margin: 0px;
    scroll-behavior: smooth;
    background-color: var(--light);
    font-family: sans-serif;
  }
:root {
    --shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.199);
    --lighter: #F5F1EB;
    --light: #dad5cf;
    --mid: #9FCDFC;
    --main: #008CFF;
    --accent: #4C72D2;
    --dark: #2C4A98;
    --darker: #203368;
    --nav-width: 200px;
}
.shadow {
    box-shadow: var(--shadow);
    z-index: 2;
}
.navbar {
    display: flex;
    position: sticky;
    width: 98vw;
    height: 39px;
    padding: 10px 1vw;
    background-color: var(--dark);
    z-index: 9999;
    transition: box-shadow 200ms ease-in-out;
}
.div-w {
    vertical-align: middle;
    width: auto;
}
.div-w2 {
    margin-left: auto;
    float: right;
}
.logo {
    vertical-align: middle;
    align-items: center;
    margin: 0;
    float: left;
    color: var(--lighter);
    border-radius: 2px;
    transition: color 200ms ease, box-shadow 200ms ease;
}
.logo:hover {
    color: var(--dark);
    box-shadow: inset 100px 0 var(--lighter);
}
.menu {
    margin: 10px 25px 0;
    float: left;
    color: var(--lighter);
    font-weight: 50;
    transition: 100ms;
}
.nav-logout {
    margin-left: 10px;
    padding: 10px 15px;
    font-weight: 800;
    color: var(--lighter);
    background-color: var(--dark);
    border: none;
    float: right;
    border-radius: 2px;
    outline: 1px solid var(--lighter);
    transition: 200ms ease-in-out;
}
.nav-logout:hover {
    background-color: var(--lighter);
    color: var(--dark);
}
.confirm {
    display: none;
    padding: 10px 15px;
    font-weight: 800;
    color: var(--dark);
    background-color: var(--lighter);
    border: none;
    float: right;
    border-radius: 2px;
    outline: 1px solid var(--lighter);
}
.show {display:block;}

.sidenav {
    position: fixed;
    display: inline-block;
    top: 59px;
    height: 100%;
    padding: 20px 0px;
    width: var(--nav-width); 
    background-color: var(--darker); 
    overflow: hidden;
}
.sidenav a {
    padding: 6px 10px;
    text-decoration: none;
    font-size: 25px;
    color: var(--lighter);
    display: block;
    transition: color ease 200ms;
}
.sidenav a:hover { color: var(--mid); }

.main { margin-left: var(--nav-width); }

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: inline-block;
    background-color: var(--lighter);
    transition: 0.3s;
    vertical-align: middle;
    position: flex;
    width: 600px;
}
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
  /* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}