html,body {
  margin: 0px;
  scroll-behavior: smooth;
}

/* ************************************NAVBAR*********************************************************/
.div-w {
  vertical-align: middle;
  width: auto;
}
.div-w2 {
  margin-left: auto;
  float: right;
}
.navbar {
  display: flex;
  width: 86vw;
  padding: 20px 7vw;
  background-color: rgb(0, 140, 255);
  z-index: 9999;
}
.sticky {
  position: fixed;
  top: 0;
}
.logo {
  vertical-align: middle;
  align-items: center;
  margin: 0px;
  float: left;
  color: white;
}
.menu {
  margin: 0px;
  margin-top: 10px;
  margin-left: 50px;
  float: left;
  color: white;
  font-weight: 50;
}
.menu:hover {
  margin: 0px;
  margin-top: 5px;
  margin-left: 50px;
  float: left;
  color: white;
  font-weight: 50;
  transition: 0.2s;
}
.nav-login {
  margin-left: 30px;
  padding: 10px 20px;
  font-weight: 800;
  color: white;
  background-color: rgb(0, 140, 255);
  border: none;
  float: right;
  border-radius: 2px;
  border: 1px solid white;
}
.nav-login:hover {
  padding: 10px 20px;
  font-weight: 800;
  color: white;
  background-color: rgb(83, 169, 240);
  border: none;
  float: right;
  border-radius: 2px;
  border: 1px solid white;
  transition: 0.5s;
}
.nav-button {
  padding: 10px 20px;
  font-weight: 800;
  color: rgb(0, 140, 255);
  background-color: white;
  border: none;
  float: right;
  border-radius: 2px;
  border: 1px solid white;
}
.nav-button:hover {
  padding: 10px 20px;
  font-weight: 800;
  color: white;
  background-color: rgb(0, 140, 255);
  border: none;
  float: right;
  border-radius: 2px;
  border: 1px solid white;
  transition: 0.5s;
}

/********************************************************* CONTAINER ONE *********************************************/
.container {
  padding: 0 3%;
  width: auto;
  height: 100vh;
  background-color: rgb(0, 140, 255);
  color: white;
  display: flex;
  scroll-margin-top: 81px;
}
.text {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-flow: column;
  width: auto;
  max-width: 1300;
  float: left;
}
.image1{
  margin-top: auto;
  margin-bottom: auto;
}
p {
  display: flex;
  margin: 0px;
  font-size: 20px;
}
.h11 {
  display: flex;
  font-size: 5vw;
  margin-top: 30px;
  font-weight: bold;
}
.h2 {
  display: flex;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 300;
}
.app-button {
  max-width: 300px;
  margin-top: 100px;
  padding: 10px 20px;
  font-weight: 800;
  color: rgb(0, 140, 255);
  background-color: white;
  border: none;
  padding: 20px 50px;
  border-radius: 2px;
}
.app-button:hover {
  margin-top: 100px;
  padding: 10px 20px;
  font-weight: 800;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 140, 255);
  border: none;
  padding: 20px 50px;
  border: 1px solid white;
  transition: 0.5s;
}
.image {
  margin-top: auto;
  padding: 2px;
  width: 100%;
  /* max-width: 550px; */
  float: right;
  display: flex;
  justify-content: center;
}

@media (max-width:800px) {
  img#logo2 {
    display: none;
  }
}

/********************************************************* CONTAINER TWO *********************************************/
.container2 {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  width: 100%;
  background-color: rgb(221, 238, 255);
  scroll-margin-top: 81px;
}
.text2 {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  width: 25%;
  color: rgb(0, 140, 255);
  font-size: 30px;
  float: left;
}
.pp {
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 30px;
  font-weight: 300;
  color: rgb(0, 140, 255);
}
.imgg {
  margin-top: 5px;
  width: 100%;
  margin-bottom: 50px;
}
.box {
  width: 15%;
  height: 400px;
  float: left;
  margin: 10px;
  margin-top: 50px;
  font-weight: 600;
  background-color: white;
  box-shadow: 0 0 50px rgb(93, 182, 255);
  box-shadow: 0 0 55px rgb(161, 211, 252);
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.box-alt {
  width: 15%;
  height: 400px;
  float: left;
  margin: 10px;
  margin-top: 150px;
  font-weight: 600;
  background-color: white;
  box-shadow: 0 0 50px rgb(132, 199, 253);
  box-shadow: 0 0 55px rgb(148, 206, 253);
  background-color: rgb(255, 255, 255);
  text-align: center;
}

/********************************************************* CONTAINER THREE *********************************************/
.container3 {
  padding-bottom: 100px;
  display: flex;
  flex-flow: column;
  width: 100%;
  background-color: rgb(159, 205, 252);
  scroll-margin-top: 81px;
}
.title {
  display: inline;
  color: rgb(72, 144, 252);
  text-align: center;
  margin: auto;
}
.group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tile {
  padding-bottom: 10px;
  color: white;
  width: 25%;
  height: 250px;
  background-color: rgb(102, 130, 255);
  margin: 25px;
  border-radius: 20px;
  display: flex;
  min-width: 350px;
  justify-content: center;
}
.tile-img {
  width: 50px;
  height: 50px;
  margin: 30px;
}
.tile-text {
  font-size: 18px;
  /* margin: 10px; */
}
.tile-20 {
  display: flex;
  justify-content: center;
  width: 25%;
  margin-top: 10%;
  margin-left: 25px;
}
.tile-80 {
  width: 75%;
  text-align: left;
  margin-top: 15px;
  margin-left: 10px;
  padding-right: 30px;
}

/********************************************************* CONTAINER FOUR *********************************************/
.container4 {
  display: flex;
  flex-flow: column;
  padding-bottom: 60px;
  /* height: 1000px; */
  width: 100%;
  background-color: rgb(221, 238, 255);
  scroll-margin-top: 81px;
}
.panel {
  margin: 15px auto;
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0);
}
.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  margin: auto;
}
.pricing-plan:last-child {
  border-bottom: none;
}
.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}
.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}
.pricing-features {
  margin: 50px 0 25px;
  color: #016ff9;
}
.pricing-features-item {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #e1f1ff;
}
.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}
.pricing-price {
  color: #016ff9;
  display: block;
  font-size: 32px;
  font-weight: 700;
}
.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348efe;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
  transition: background-color 200ms ease-in-out;
}
.pricing-button-nav {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348efe;
  display: inline-block;
  padding: 15px 25px;
  text-decoration: none;
  transition: background-color 200ms ease-in-out;
}
.pricing-button-nav:hover {
  background-color: #48aaff;
}
.pricing-button:hover {
  background-color: #e1f1ff;
}
.pricing-button.is-featured {
  background-color: #48aaff;
  color: white;
}
.pricing-button.is-featured:hover {
  background-color: #269aff;
}

@media (min-width: 900px) {
  .panel {
    flex-direction: row;
  }
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    padding: 25px 50px;
  }
  .pricing-plan:last-child {
    border-right: none;
  }
}
.h1 {
  font-size: 50px;
  padding: 50px 50px;
  color: #e1f1ff;
}
.h3 {
  font-size: 20px;
  padding: 20px 250px;
  color: #e1f1ff;
}

/********************************************************* CONTAINER FIVE *********************************************/
.container5 {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(159, 205, 252);
  scroll-margin-top: 81px;
}
.title-doc {
  display: inline;
  color: rgb(72, 144, 252);
  text-align: center;
  margin: 2% auto;
}
.tile-doc {
  padding-bottom: 10px;
  color: white;
  width: 33%;
  height: 250px;
  background-color: rgb(102, 130, 255);
  margin: 30px;
  border-radius: 20px;
  display: flex;
  min-width: 450px;
  justify-content: center;
}
.tile-img2 {
  width: 140px;
  height: 220px;
  color: azure;
  border-radius: 10px;
}
.tile-40 {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto 2%;
  /* border: 1px solid black; */
}
.tile-50 {
  width: 75%;
  /* border: 1px solid black; */
  color: white;
  text-align: left;
  margin-top: 15px;
  margin-left: 10px;
  padding-right: 30px;
}
.filler {
  height: 200px;
  width: 100%;
}
