.first-row {
    font-size: large;
    color:rgb(255, 255, 255);
    font-weight:700;
    background-color: blue;
} 
.other-row {
    font-size: large;
    color:rgb(255, 255, 255);
    font-weight:normal;
    background-color: rgb(0, 153, 255);
}
.float-right{
    float: right;
}
.container{
    
    width: 20%;
}
.container-father{
    display: flex;
    margin: 0;
}