*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 153, 255);
}
table{
    border-collapse: collapse;
    width: 75%;
}
table th{
    color: aliceblue;
    padding: 10px;
}
table td{
    padding: 10px;
    color: aliceblue;
    font-size: 1.2em;
    text-align: center;

}
.btn{
    background: white;
    color: darkcyan;
    font-size: 1.2em;
    padding: 5px 30px;
    text-decoration: none;
}
.btn:hover{
    background: darkcyan;
    color: white;
}
